.Invest-counter {
  &__header {
    font-weight: 500;
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
  }

  &__source {
    font-weight: 600;
    font-size: 13px;
    color: $ACTIVE;
  }

  &__target {
    font-weight: 600;
    color: $ACTIVE;
    font-size: 13px;
    text-align: right;
  }

  &__value-line-wrapper {
    background: #eeeeee;
    border-radius: 5px;
    height: 10px;
    position: relative;
    margin: 5px 0;
    margin-bottom: 10px;
  }

  &__value-line {
    background-color: #88ca97;
    border-radius: 5px;
    height: 10px;
    position: relative;
    top: 0;
    transition: all 1s ease;

    &::after {
      content: '';
      width: 30px;
      height: 30px;
      position: absolute;
      right: -15px;
      top: -10px;
      background-color: $ACTIVE;
      border-radius: 50%;
    }
  }

  &__footer {
    color: $COLOR-13;
    display: grid;
    grid-template-columns: auto auto;
    font-weight: 600;

    strong {
      color: $PRIMARY;
    }
  }
  &__body {
    padding: 10px 20px;
    background-color: #eeeeee;
    border: 1px solid rgba(92,92,91,0.15);
    margin-bottom: 25px;  

    @media (max-width: $XS) {
      display: block;
    }

    &__heading {
      color: $PRIMARY;
      font-weight: 600;
      padding-bottom: 10px;
      margin-bottom: 10px;
      font-size: 13px;
      text-align: center;
      text-transform: uppercase;
      border-bottom: 1px solid #c1c1c1;
      letter-spacing: 1px;
    }
  }
}
